<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>TestJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--   <servlet>		서블릿 등록
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>	서블릿과 요청명 매핑
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/Servlet/HelloServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DirectServletPrint</servlet-name>
		<servlet-class>servlet.DirectServletPrint</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectServletPrint</servlet-name>
		<url-pattern>/Servlet/DirectServletPrint.do</url-pattern>
	</servlet-mapping> -->
	
	<context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>OracleURL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
	</context-param>
	<context-param>
		<param-name>OracleId</param-name>
		<param-value>musthave</param-value>
	</context-param>
	<context-param>
		<param-name>OraclePwd</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	<context-param>
		<param-name>CHAT_ADDR</param-name>
		<param-value>ws://localhost:8081/TestJSP</param-value>
	</context-param>
</web-app>